<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oracle_Memory_Monitor.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/XE;PASSWORD=dev;USER ID=DEV"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>