<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="connectionString" value="DATA SOURCE=localhost:1521/XE;PASSWORD=dev;USER ID=DEV"/>
        <add key="highWaterMark" value="0.75"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>